html{
    font-family: 'Open Sans', sans-serif;
}

body{
    padding: 0;
    margin: 0;
}

footer{
    display: flex;
    background-color: #F2F2F2;
    padding: 2em;
}

.sec-footer{
    display: flex;
    flex: 1;
    align-items: center;
}

main{
    margin-left: 2em;
    margin-right: 2em;
}

/****************************/
/*     Debut Navigation     */
/****************************/

nav {
    display: flex;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
}

.links{
    display: flex;
    flex: 1;
    height: auto;
    justify-content: flex-end;
}

.nav-link{
    display: flex;
    text-decoration: none;
    color : black;
    padding: 1em;
    
}

.blue{
    color: #0065FC;
}

.nav-link:focus {
    color : #0065FC;
    border-top: 2px solid #0065FC;

}

.logo{
    position: absolute;
}

/****************************/
/*      Fin Navigation      */
/****************************/

/****************************/
/*     Debut Recherche      */
/****************************/

input{
    height: 35px;
    padding: 0;
    border: none;
}

.maker-icon{
    background-color: #F2F2F2;
    border-radius: 0px 15px 15px 0px;
}


.button-search{
    margin: 0;
    line-height: 100%; 
    border: 0;
    background: #0065FC; 
    font: none;
    color: white;
    background-color: #0065FC;
    text-decoration: none;
    padding: 0.5em;
}

.input-group{
    display: flex; 
    width: 22em;
    border: 1px solid gray ;
    border-radius: 10px;
    z-index: 100;
    overflow: hidden;
}

/****************************/
/*      Fin Recherche       */
/****************************/

/****************************/
/*       Debut filtre       */
/****************************/

.icon{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2 ;   
    flex: 1; 
}

.sort-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    margin: 0.5em;
    border: 1px solid  ;
    border-left-color: white;

}

.search{
    display: flex;
    flex: 6;
    padding-left: 1em;
    font-weight: 600 ;
}

.sort{
    display: flex;
    align-items: center;
    margin-top: 1em;
    flex-wrap: wrap;
}

.icon-sort{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEEBFF;
    border-radius: 40px;
    padding: 0.2em;
    height: 2em;
    width: 2em;
    color: #0065FC;

}

.sort-text{
    padding:  0.5em;
}

/****************************/
/*        Fin filtre        */
/****************************/

/****************************/
/*    Debut appart libre    */
/****************************/

.free{
    font-size: 0.8em;
}

.fa-info{
    margin: 1em;
    padding: 0.5em;
    width: 1em;
    border: 1px solid lightgray;
    border-radius: 30px;
    color: #0065FC;
}

.fa-info:before {
    display: flex;
    justify-content: center;
}

/****************************/
/*     Fin appart libre     */
/****************************/

/****************************/
/*     Debut hébergement    */
/****************************/

.apparts{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
}

.choose{
    flex: 3;
    background-color: #F2F2F2;
    padding: 1em;
    margin: 1em;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}



.images{
    object-fit: cover;
    width: 100%;
    height: 65%;
}

.items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.item{
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 350px;
    border-radius: 40px;
    border: 7px solid  white;
    margin-bottom: 2em;
    overflow: hidden;
    filter: drop-shadow(0 0 0.90rem  rgb(153, 153, 153) );
    
}

.desc{
    display: flex;
    flex: 1 0;
    flex-direction: column;
    background-color: white;
    padding-left: 1em;
}

.name-appart{
    margin: 3px;padding: 0;
}

.price-appart{
    margin: 3px;padding: 0;
}

/****************************/
/*      Fin hébergement     */
/****************************/

/****************************/
/*       Debut Etoile       */
/****************************/

.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    
}

.rating-popular{
    flex: 1;
    align-items: flex-end;
}

.rating a {
    color: #aaa;
    text-decoration: none;
    transition: color .4s;
}

.rating a:hover,
.rating a:focus,
.rating a:hover ~ a,
.rating a:focus ~ a {
    color: #0065FC;
    cursor: pointer;
}

.rating a:hover,
.rating a:focus,
.rating a:hover ~ a,
.rating a:focus ~ a {
    content: attr(data-color, false);
    color: #0065FC;
    cursor: pointer;
}

.rating a[data-color="true"]{
    color: #0065FC;
    cursor: pointer;
}


/****************************/
/*        Fin Etoile        */
/****************************/

/****************************/
/*      Debut populaire     */
/****************************/

.most-popular{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 1 9;
    background-color: #F2F2F2;
    padding: 1em;
    margin: 1em;
    border-radius: 20px;
}

.popular-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.items-popular{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.item-popular{
    display: flex;
    height: 150px;
    width: 350px;
    border-radius: 40px;
    border: 7px solid  white;
    margin-bottom: 2em;
    overflow: hidden;
    filter: drop-shadow(0 0 0.90rem  rgb(153, 153, 153) );
}

.desc-popular{
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: white;
    padding-left: 1em;
}

.images-popular{
    object-fit: cover;
    width: 40%;
    height: 100%;
}

/****************************/
/*       Fin populaire      */
/****************************/

/****************************/
/*      Debut activité      */
/****************************/

.sec-activity{
    display: flex;
    height: 40em;
    flex-wrap: wrap;
    justify-content: center;

}

.activity-name{
    padding-left: 1em;
    z-index: 5;
    background-color: white;
    
}

.double-activity{
    height: 100%;

}

.col-activity{
    display: flex;
    flex-direction: column;
    width: 459px;
}

.activity-item{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 2em;
    filter: drop-shadow(0 0 0.90rem  rgb(153, 153, 153) );
    justify-content: flex-end;
    border-radius: 20px;
    overflow: hidden;
}

.images-activity{
    object-fit: cover;
    height: 1px;
    position: absolute;
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: -3;
}

.small-activity{
    height: 50%;
}

.large-activity{
    height: 100%;
}





/****************************/
/*       Fin activité       */
/****************************/

