html{
    font-family: 'Open Sans', sans-serif;

}

body {
	margin: 0;
	display: flex;
	flex-direction: column;    
}

footer{
    background-color: #F2F2F2;
    padding: 2em;
    
}

.sec-footer{    
    align-items: center;
}

main{
    flex: 1;
    margin-left: 1em;
    margin-right: 1em;
}

header{
    margin-left: 2em;
    margin-right: 2em;
}



@media screen and (max-width: 791px){
    
    footer{
        flex-direction: column;
    }
    .col-footer{
        justify-content: flex-start!important;
    }
    
    .links{
        flex-direction: column-reverse;
        align-items: flex-end;
    }
    .nav-phone{
        width: 100%;
      
    }
    .nav-link:hover,
    .nav-link:focus{
        border-top: 0px solid white !important;
        border-bottom: 3px solid blue;
    }
    .nav-link{
        border-bottom: 3px solid lightgray;
    }
    
    .span-link{
        flex: 1;
       
    }
    .nav-link{
        justify-content: center;
        
    }
    .blue{
        border-bottom: none;
    }
    .sign-in:focus{
        border-bottom: 0px solid white;
    }

}


/****************************/
/*     Debut Navigation     */
/****************************/

nav {
    display: flex;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
}

.links{
    display: flex;
    flex: 1;
    height: auto;
    justify-content: flex-end;
}

.nav-link{
    display: flex;
    text-decoration: none;
    color : black;
    padding: 1em;
    
}

.blue{
    color: #0065FC;
    border-bottom: nonde;
}

.nav-link:hover, 
.nav-link:focus {
    color : #0065FC;
    border-top: 2px solid #0065FC;

}

.logo-site{
    position: absolute;
    top: 5px;
    left: 25px;
}

.nav-phone{
    flex-direction: row;
    display: flex;
}

/****************************/
/*      Fin Navigation      */
/****************************/

/****************************/
/*     Debut Recherche      */
/****************************/

input{
    height: 35px;
    padding: 0;
    border: none;
}

.maker-icon{
    background-color: #F2F2F2;
    border-radius: 0px 15px 15px 0px;
}


.button-search{
    display: flex;
    margin: 0;
    line-height: 100%; 
    border: 0;
    background: #0065FC; 
    font: none;
    color: white;
    background-color: #0065FC;
    text-decoration: none;
    padding: 0.5em;
    min-width: 85px;
}

.input-group{
    display: flex; 
    border: 1px solid lightgray ;
    border-radius: 10px;
    z-index: 100;
    overflow: hidden;
    max-width: 30em;
}

/****************************/
/*      Fin Recherche       */
/****************************/

/****************************/
/*       Debut filtre       */
/****************************/

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2 ;   
    min-width: 30px;
}

.sort-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    margin: 0.5em;
    border: 1px solid lightgray ;
    z-index: -5;
    
}

.search{
    display: flex;
    flex: 1;
    padding-left: 1em;
    font-weight: 600 ;
}

.sort{
    display: flex;
    align-items: center;
    margin-top: 1em;
    flex-wrap: wrap;
}

.icon-sort{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEEBFF;
    border-radius: 40px;
    padding: 0.24em;
    height: 2em;
    width: 2em;
    color: #0065FC;
    margin-right: -2.8em;

}

.sort-text{
    padding:  0.49em;
    padding-left: 2.5em;
}

.sort-item{
    display: flex;
    align-items: center;
    padding-left: 0.5em;
}

/****************************/
/*        Fin filtre        */
/****************************/

/****************************/
/*    Debut appart libre    */
/****************************/

.free{
    font-size: 1em;
}

.fa-info{
    margin: 1em;
    padding: 0.5em;
    width: 1em;
    border: 1px solid lightgray;
    border-radius: 30px;
    color: #0065FC;
}

.fa-info:before {
    display: flex;
    justify-content: center;
}

/****************************/
/*     Fin appart libre     */
/****************************/

/****************************/
/*     Debut hébergement    */
/****************************/

@media screen and (max-width: 1589px){
    .apparts{
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 1198px){
    .items-group{
        display: flex;
        flex-direction: row!important;
        justify-content: space-around;
    }
    .items{
        flex-direction: column!important;
    }
    

}

@media screen and (max-width: 795px){
   
    .choose{
        background-color: white!important;
    }
    .items-group{
        flex-direction: column!important;
        align-items: center;
    }

}

.items-group{
    flex-direction: column;
}

.apparts{
    display: flex;
    flex-wrap: wrap-reverse;

}

.choose{
    flex: 3;
    background-color: #F2F2F2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin: 0.5em;
}

.chose-title{
    padding-left: 1.5em;
}

.images{
    object-fit: cover;
    width: 100%;
    height: 65%;
}

.items{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.item{
    display: flex;
    flex-direction: column;
    height: 250px;
    max-width: 350px;
    border-radius: 40px;
    border: 7px solid  white;
    margin-bottom: 2em;
    overflow: hidden;
    filter: drop-shadow(0 0 0.90rem  rgb(153, 153, 153) );
    
}

.desc{
    display: flex;
    flex: 1 0;
    flex-direction: column;
    background-color: white;
    padding-left: 1em;
}

.name-appart{
    margin: 3px;padding: 0;
}

.price-appart{
    margin: 3px;padding: 0;
}

.more{
    text-decoration: none;
    color : black;
    margin-left: 2em;
}

/****************************/
/*      Fin hébergement     */
/****************************/

/****************************/
/*       Debut Etoile       */
/****************************/

.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    
}

.rating-popular{
    flex: 1;
    align-items: flex-end;
}

.rating a {
    color: #aaa;
    text-decoration: none;
    transition: color .4s;
}

.rating a:hover,
.rating a:focus,
.rating a:hover ~ a,
.rating a:focus ~ a {
    color: #0065FC;
    cursor: pointer;
}

.rating a:hover,
.rating a:focus,
.rating a:hover ~ a,
.rating a:focus ~ a {
    content: attr(data-color, false);
    color: #0065FC;
    cursor: pointer;
}

.rating a[data-color="true"]{
    color: #0065FC;
    cursor: pointer;
}


/****************************/
/*        Fin Etoile        */
/****************************/

/****************************/
/*      Debut populaire     */
/****************************/

@media screen and (max-width: 1589px){
    .items-popular{
        flex-direction: row!important;
    }
}

@media screen and (max-width: 1198px){
    .items-popular{
        flex-wrap: wrap;
    }
}


.most-popular{
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #F2F2F2;
    padding: 1em;
    margin: 0.5em;
    border-radius: 20px;
}

.popular-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.items-popular{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.item-popular{
    display: flex;
    height: 170px;
    max-width: 350px;
    border-radius: 40px;
    border: 7px solid  white;
    margin-bottom: 2em;
    overflow: hidden;
    filter: drop-shadow(0 0 0.90rem  rgb(153, 153, 153) );
}

.desc-popular{
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: white;
    padding-left: 1em;
}

.images-popular{
    object-fit: cover;
    width: 40%;
    height: 100%;
}

/****************************/
/*       Fin populaire      */
/****************************/

/****************************/
/*      Debut activité      */
/****************************/

@media screen and (max-width: 1600px){
    .items-group-activity{
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 850px){
    .items-group-activity{
        flex-wrap: wrap;
    }
    .large-activity{
        height: 250px!important;
        margin: 0!important;
    }
    .small-activity{
        margin: 0!important;
    }
    .activity-items{
        flex-direction: column;
    }
    .item-activity{
        margin-bottom: 2em!important;
    }
    
}

.items-group-activity{
    display: flex;
}

.sec-activity{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.col-activity{

    flex-direction: column;
 
}

.activity-items{
    display: flex;
    justify-content: space-around;
    flex: 1;
}

.item-activity{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    width: 350px;
    border-radius: 20px;
    overflow: hidden;
    filter: drop-shadow(0 0 0.90rem  rgb(153, 153, 153) );
    
}

.images-activity{
    display: flex;
    object-fit: cover;
    width: 100%;
    height: 80%;
    flex: 3;
}

.title-activity{
    display: flex;
    justify-content: center;
    height: 50px;
    flex-direction: column;
    background-color: white;
    padding-left: 1em;
}


.small-activity{
    height: 250px;
    margin: 2em;
}

.large-activity{
    height: 530px;
    margin: 2em;
}
.group-activity{
    display: flex;
    flex-wrap: wrap;
}


/****************************/
/*       Fin activité       */
/****************************/

/****************************/
/*      debut footer      */
/****************************/

footer{
    display: flex;
}

.col-footer{
    display: flex;
    flex: 1;
    justify-content: flex-start;
}

.footer-content{
    display: inline-block
}