html{
    font-family: 'Open Sans', sans-serif;
}



body{
    
    margin-left: 2em;
    margin-right: 2em;
}

/****************************/
/*     Debut Navigation     */
/****************************/

nav {
    display: flex;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
}

.links{
    display: flex;
    flex: 1;
    height: auto;
    justify-content: flex-end;
}

.nav-link{
    display: flex;
    text-decoration: none;
    color : black;
    padding: 1em;
    
}

.blue{
    color: #0065FC;
}

.nav-link:focus {
    color : #0065FC;
    border-top: 2px solid #0065FC;

}

.logo{
    position: absolute;
}

/****************************/
/*      Fin Navigation      */
/****************************/

/****************************/
/*     Debut Recherche      */
/****************************/

input{
    height: 35px;
    padding: 0;
    border: none;
}

.maker-icon{
    background-color: #F2F2F2;
    border-radius: 0px 15px 15px 0px;
}


.button-search{
    margin: 0;
    line-height: 100%; 
    border: 0;
    background: #0065FC; 
    font: none;
    color: white;
    background-color: #0065FC;
    text-decoration: none;
    padding: 0.5em;
}

.input-group{
    display: flex; 
    width: 22em;
    border: 1px solid gray ;
    border-radius: 10px;
    z-index: 100;
    overflow: hidden;
}

/****************************/
/*      Fin Recherche       */
/****************************/

/****************************/
/*       Debut filtre       */
/****************************/

.icon{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2 ;   
    flex: 1; 
}

.sort-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    margin: 0.5em;
    border: 1px solid  ;
    border-left-color: white;

}

.search{
    display: flex;
    flex: 6;
    padding-left: 1em;
    font-weight: 600 ;
}

.sort{
    display: flex;
    align-items: center;
    margin-top: 1em;
    flex-wrap: wrap;
}

.icon-sort{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEEBFF;
    border-radius: 40px;
    padding: 0.2em;
    height: 2em;
    width: 2em;
    color: #0065FC;

}

.sort-text{
    padding:  0.5em;
}

/****************************/
/*        Fin filtre        */
/****************************/